/*GENERAL*/

body {
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif
}

.container {
    background-color: rgb(57,109,124);
    width: 400px;
    height: 550px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid
}

/*SCREEN*/

.top {
    border: solid;
    width: 370px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.result,
.typed {
    background-color: rgb(186,242,239);
    width: 360px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.typed {
    font-size: 44px;
    height: 66px;
    justify-content: end;
}

.result {
    font-size: 24px;
    height: 34px;
    width: 350px;
    padding-right: 20px;
    justify-content: end;
}

/*BUTTONS RESET AND CLEAR*/

.middle {
    width: 370px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.clear,
.delete {
    height: 80px;
    width: 180px;
}

.clear {
    background-color: rgb(231, 61, 61);
}

.delete {
    background-color: rgb(37,124,163);
}

/*KEYBOARD*/

.keys {
    width: 370px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.key {
    background-color: rgb(162,210,223);
}